<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>推荐</string>
		<key>type</key>
		<string>2</string>
		<key>url</key>
		<string></string>
	</dict>
    <dict>
        <key>title</key>
        <string>NBA</string>
        <key>type</key>
        <string>1</string>
        <key>url</key>
        <string></string>
    </dict>
    <dict>
        <key>title</key>
        <string>视频</string>
        <key>type</key>
        <string>2</string>
        <key>url</key>
        <string></string>
    </dict>
    <dict>
        <key>title</key>
        <string>影视娱乐</string>
        <key>type</key>
        <string>2</string>
        <key>url</key>
        <string></string>
    </dict>
    <dict>
        <key>title</key>
        <string>绝地求生</string>
        <key>type</key>
        <string>1</string>
        <key>url</key>
        <string></string>
    </dict>
    <dict>
        <key>title</key>
        <string>关注</string>
        <key>type</key>
        <string>1</string>
        <key>url</key>
        <string></string>
    </dict>
    <dict>
        <key>title</key>
        <string>数码</string>
        <key>type</key>
        <string>2</string>
        <key>url</key>
        <string></string>
    </dict>
    <dict>
        <key>title</key>
        <string>装备</string>
        <key>type</key>
        <string>2</string>
        <key>url</key>
        <string></string>
    </dict>
    <dict>
        <key>title</key>
        <string>英雄联盟</string>
        <key>type</key>
        <string>1</string>
        <key>url</key>
        <string></string>
    </dict>
    <dict>
        <key>title</key>
        <string>中国足球</string>
        <key>type</key>
        <string>1</string>
        <key>url</key>
        <string></string>
    </dict>
    <dict>
        <key>title</key>
        <string>欧洲杯</string>
        <key>type</key>
        <string>1</string>
        <key>url</key>
        <string></string>
    </dict>
    <dict>
        <key>title</key>
        <string>意甲</string>
        <key>type</key>
        <string>1</string>
        <key>url</key>
        <string></string>
    </dict>
    <dict>
        <key>title</key>
        <string>德甲</string>
        <key>type</key>
        <string>1</string>
        <key>url</key>
        <string></string>
    </dict>
    <dict>
        <key>title</key>
        <string>欧冠</string>
        <key>type</key>
        <string>1</string>
        <key>url</key>
        <string></string>
    </dict>
    <dict>
        <key>title</key>
        <string>法甲</string>
        <key>type</key>
        <string>1</string>
        <key>url</key>
        <string></string>
    </dict>
    <dict>
        <key>title</key>
        <string>英超</string>
        <key>type</key>
        <string>1</string>
        <key>url</key>
        <string></string>
    </dict>
    <dict>
        <key>title</key>
        <string>西甲</string>
        <key>type</key>
        <string>1</string>
        <key>url</key>
        <string></string>
    </dict>
    <dict>
        <key>title</key>
        <string>路人王</string>
        <key>type</key>
        <string>0</string>
        <key>url</key>
        <string></string>
    </dict>
    <dict>
        <key>title</key>
        <string>王者荣耀</string>
        <key>type</key>
        <string>1</string>
        <key>url</key>
        <string></string>
    </dict>
    <dict>
        <key>title</key>
        <string>中国篮球</string>
        <key>type</key>
        <string>1</string>
        <key>url</key>
        <string></string>
    </dict>
    <dict>
        <key>title</key>
        <string>国际足球</string>
        <key>type</key>
        <string>1</string>
        <key>url</key>
        <string></string>
    </dict>
    <dict>
        <key>title</key>
        <string>型男</string>
        <key>type</key>
        <string>1</string>
        <key>url</key>
        <string></string>
    </dict>
    <dict>
        <key>title</key>
        <string>欧联</string>
        <key>type</key>
        <string>1</string>
        <key>url</key>
        <string></string>
    </dict>
    <dict>
        <key>title</key>
        <string>联合会杯</string>
        <key>type</key>
        <string>1</string>
        <key>url</key>
        <string></string>
    </dict>
</array>
</plist>
